    <!-- Color Bars (above header)-->
    <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    
    <div class="container" ng-controller="galleryCtrl"  style="padding-left: 2%" >
      <div class="ui grid"><!-- Begin Header -->
        <!-- Logo -->
        <div class="one wide column"></div>
        <div class="six wide column logo">
            <a href="index.htm"><img src="assets/img/Wing-Watch-small.png" alt="" /></a>
            <h5>Just at the Right Moment...</h5>
        </div>
    </div><!-- End Header -->
     
    <!-- Page Content --> 
    <div class="ui grid">
        <div class="two column row">
          <div class="column">
              <img class="ui image" src="http://i.huffpost.com/gen/1352568/images/o-BALD-EAGLE-facebook.jpg">
          </div>
          <div class="column">
            <h2>ESPECIE DE AVE</h2>
            <p class="lead">Descripción general brindada por el aficionado que capturó la fotografía</p>
            <ul class="project-info">
                <li><h4>Nombre Común:</h4> Nombre</li>
                <li><h4>Nombre en Inglés:</h4> Nombre</li>
                <li><h4>Nombre Científico:</h4> Nombre</li>
                <li><h4>Orden:</h4> Nombre + Descripción</li>
                <li><h4>Suborden:</h4> Nombre + Descripción</li>
                <li><h4>Familia:</h4> Nombre + Descripción</li>
                <li><h4>Género:</h4> Nombre + Descripción</li>
                <li><h4>Tipo de Pico:</h4> Descripción</li>
                <li><h4>Cantidad de Huevos:</h4> Descripción</li>
                <li><h4>Zona de Vida:</h4> Descripción</li>
                <li><h4>Color:</h4> Descripción</li>
            </ul>
            <a href="#" class="ui teal button">Editar Información</a>
            <a href="galleryView.htm" class="ui red button">Regresar</a>
          </div>
        </div>    
    </div> <!-- End Container -->

    <!-- Footer Area -->
    <div class="footer-container"><!-- Begin Footer -->
        <div class="container">
            <div class="row footer-row">
                <div class="span3 footer-col">
                    <ul class="social-icons">
                        <li><a href="#" class="social-icon facebook"></a></li>
                        <li><a href="#" class="social-icon twitter"></a></li>
                        <li><a href="#" class="social-icon dribble"></a></li>
                        <li><a href="#" class="social-icon rss"></a></li>
                        <li><a href="#" class="social-icon forrst"></a></li>
                    </ul>
                </div>
            </div>

            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left"></span></div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer --> 