<div class="encima">
  <div class="ui circular icon button" ng-click="goHome()">
    <i class="big home icon"></i>
  </div>
</div>
<!-- Color Bars (above header)-->
<div class="color-bar-1"></div>
<div class="color-bar-2 color-bg"></div>
<div class="container" ng-controller="galleryCtrl"  style="padding-left: 2%" >
  <div class="ui grid"><!-- Begin Header -->
  <!-- Logo-->
  <div class="one wide column"></div>
  <div class="six wide column logo">
    <a href="index.htm"><img src="assets/img/Wing-Watch-small.png" alt="" /></a>
    <h5>Just at the Right Moment...</h5>
  </div>
</div>
<div class="ui grid">
  <!-- Slider Carousel-->
  <div class="eight wide column">
    <div class="flexslider custom">
      <ul class="slides " >
        <li ng-repeat="BirdSlide in slideBirds"><a><img ng-src="{{BirdSlide.slideFoto}}" alt="slider" /></a></li>
      </ul>
    </div>
  </div>
  
  <!-- Headline Text -->
  <div class="eight wide column">
    <h2>Bienvenido a la galería de aves</h2>
    <h4 class="lead">En esta sección, usted podrá encontrar las aves fotografiadas por los aficionados</h4>
    <h5>Si usted es un ornitólogo puede contribuir con las capturas de los aficionados clasificando las aves avistadas.</h5>
  </div>
  </div> <!-- End Headline -->
  <div class="ui segment">
    <div class="ui grid">
        <div class="two wide column">
          <label>Genero</label>
          <div class="ui input">
            <input type="text" placeholder="Genero" ng-model="filtro.GENERO">
          </div>
        </div>
        <div class="two wide column">
          <label>Especie</label>
          <div class="ui input">
            <input type="text" placeholder="Especie" ng-model="filtro.DESCRIPCION">
          </div>
        </div>
        <div class="two wide column">
          <label>Sub Orden</label>
          <div class="ui input">
            <input type="text" placeholder="Sub Orden" ng-model="filtro.SUBORDEN">
          </div>
        </div>
        <div class="two wide column">
          <label>Orden</label>
          <div class="ui input">
            <input type="text" placeholder="Orden" ng-model="filtro.ORDEN">
          </div>
        </div>
        <div class="two wide column">
          <label>Familia</label>
          <div class="ui input">
            <input type="text" placeholder="Familia" ng-model="filtro.FAMILIA">
          </div>
        </div>
        <div class="two wide column">
          <label>Nombre Comun</label>
          <div class="ui input">
            <input type="text" placeholder="Nombre Comun" ng-model="filtro.NOMBRE_COMUN">
          </div>
        </div>
        <div class="two wide column">
          <label>Nombre Inglés</label>
          <div class="ui input">
            <input type="text" placeholder="Nombre Inglés" ng-model="filtro.NOMBRE_INGLES">
          </div>
        </div>
        <div class="two wide column">
          <label>Color</label>
          <div class="ui input">
            <input type="text" placeholder="Color" ng-model="filtro.COLOR">
          </div>
        </div>
        <div class="two wide column">
          <label>Zona de Vida</label>
          <div class="ui input">
            <input type="text" placeholder="Zona de Vida" ng-model="filtro.ZONA">
          </div>
        </div>
        <div class="two wide column">
          <label>Tipo de Pico</label>
          <div class="ui input">
            <input type="text" placeholder="Tipo de Pico" ng-model="filtro.PICO">
          </div>
        </div>
        <div class="two wide column">
          <label>Apodo</label>
          <div class="ui input">
            <input type="text" placeholder="Apodo" ng-model="filtro.NICKNAME">
          </div>
        </div>
    </div>
  </div>
  <div class="ui segment">
    <div class="ui six special cards">
      <div class="ui card" ng-repeat="post in posts | filter:filtro:strict" ng-click="sessionBird(post)">
        <a ng-href="#/sbird" class="image">
          <img ng-src="{{post.URL}}">
        </a>
        <div class="content">
          <a class="header">{{post.DESCRIPCION}}</a>
          <div class="meta">
            <span class="date">{{post.NICKNAME}}</span>
          </div>
        </div>
        <div class="extra content">
          <a> <i class="checkmark box icon"></i> Checkeado </a>
        </div>
      </div>
    </div>
  </div>
  </div> <!-- End Container -->