    <!-- Color Bars (above header)-->
    <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    <div class="encima">
        <div class="ui circular icon button" ng-click="goHome()">
            <i class="big home icon"></i>
        </div>    
    </div>
    <div class="container" ng-controller="gallerySimpleCtrl"  style="padding-left: 2%" >
      <div class="ui grid"><!-- Begin Header -->
        <!-- Logo -->
        <div class="one wide column"></div>
        <div class="six wide column logo">
            <a href="index.htm"><img src="assets/img/Wing-Watch-small.png" alt="" /></a>
            <h5>Just at the Right Moment...</h5>
        </div>
    </div><!-- End Header -->
     
    <!-- Page Content --> 
    <div class="ui grid">
        <div class="two column row">
            <div class="column" ng-init="cargarFotos()">
                <div class="ui grid">
                    <div class="eight wide column" ng-repeat="foto in fotos">
                        <img class="ui image" src="{{foto.PIC}}">
                    </div>
                </div>
            </div>
              <div class="column" ng-init="iniciarDatos()">
                <h2>{{taxonomia.ESPECIE}}</h2>
                <ul class="project-info">
                    <li><h4>Nombre Común:</h4>{{taxonomia.NOMBRE_COMUN}}</li>
                    <li><h4>Nombre en Inglés:</h4>{{taxonomia.NOMBRE_INGLES}}</li>
                    <li><h4>Nombre Científico:</h4>{{taxonomia.ESPECIE}}</li>
                    <li><h4>Orden:</h4>{{taxonomia.ORDEN}}</li>
                    <li><h4>Suborden:</h4>{{taxonomia.SUBORDEN}}</li>
                    <li><h4>Familia:</h4>{{taxonomia.FAMILIA}}</li>
                    <li><h4>Género:</h4>{{taxonomia.GENERO}}</li>
                    <li><h4>Tipo de Pico:</h4>{{pico.PICO}}</li>
                    <li><h4>Zona de Vida:</h4>{{zona.ZONA}}</li>
                    <li><h4>Color:</h4>{{color.COLOR}}</li>
                </ul>
                <a href="#" class="ui teal button">Editar Información</a>
                <a href="galleryView.htm" class="ui red button">Regresar</a>
              </div>
        </div>  
    </div> <!-- End Container -->
