body {
	font-family: "calibri";
	font-size: 23px;
}

.Titulo {
	background-color: #4DB849;
    border-radius: 30px;
    height: 500px;
}

.center {
	font-family: "calibri";
	margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.center3 {
	margin-left: auto;
    margin-right: auto;
    text-align: center;
	position: relative;
	top: 5%;
}

.center2 {
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
  	top: 40%;
  	transform: translateY(-50%);
    /*width: 25%;*/
}

.input {
	width: 200px;
}