<!DOCTYPE html>
<html ng-app="WingWatchApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Las 3 tags 'meta' de arriba son necesarias para el diseño web adaptable -->
    <title>Wing-Watch</title>
    <!-- Semantic-UI -->
    <link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/dist/semantic.min.css">
    <!--JQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/semantic-ui/dist/semantic.min.js"></script>
    <!-- AngularJS -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ngImgCrop/compile/minified/ng-img-crop.js"></script>
    <link rel="stylesheet" href="bower_components/ngImgCrop/compile/minified/ng-img-crop.css">
    <style>
    .cropArea {
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        width: 400px;
        height: 250px;
        margin-top: 10px;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: #a9a9a9;
    }
    </style>
</head>

<body>
    <div ng-controller="editarUsuarioCtrl">
        <div class="ui button" ng-click="abrirEditarPerfil()">
            Follow
        </div>
        <div class="ui editar modal">
            <i class="close icon"></i>
            <div class="ui raised segment">
                <form class="ui form editarPerfil">
                    <img class="ui centered rounded bordered image" height="100" width="100" ng-src="{{miImagen}}" ng-click="abrir()" />
                    <h4 class="ui dividing header">Información Personal</h4>
                    <div class="field">
                        <label>Nombre</label>
                        <div class="three fields">
                            <div class="field">
                                <input type="text" name="nombre" placeholder="Nombre">
                            </div>
                            <div class="field">
                                <input type="text" name="pApellido" placeholder="Primer Apellido">
                            </div>
                            <div class="field">
                                <input type="text" name="sApellido" placeholder="Segundo Apellido">
                            </div>
                        </div>
                    </div>
                    <h4 class="ui dividing header">Información personal</h4>
                    <div class="field">
                        <label>Apodo</label>
                        <div class="ui icon input">
                            <input type="text" name="apodo" placeholder="Apodo">
                            <i class="smile icon"></i>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Teléfono</label>
                            <input type="tel" name="telefono" placeholder="Teléfono">
                        </div>
                        <div class="field">
                            <label>Cédula</label>
                            <input type="text" name="cedula" placeholder="Cédula">
                        </div>
                    </div>
                    <h4 class="ui dividing header">Información de la cuenta</h4>
                    <div class="two fields">
                        <div class="field">
                            <label>Correo Electrónico</label>
                            <div class="ui icon input">
                                <input type="email" name="email" placeholder="Correo Electrónico">
                                <i class="mail icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>Contraseña</label>
                            <div class="ui icon input">
                                <input type="password" name="password" placeholder="Contraseña">
                                <i class="lock icon"></i>
                            </div>
                        </div>
                    </div>
                    <h4 class="ui dividing header">Configuración</h4>
                    <h5 class="ui header">Tipo de Usuario</h5>
                    <div class="grouped inline fields">
                        <div class="field">
                            <div class="ui test radio checkbox">
                                <input type="radio" name="tipo" value="aficionado" id="aficionado" checked>
                                <label for="aficionado"> Aficionado </label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui test radio checkbox">
                                <input type="radio" name="tipo" value="ornitologo" id="ornitologo">
                                <label for="ornitologo"> Ornitólogo </label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="ui center aligned grid" > -->
                    <div class="ui green button" ng-click="editarCuenta()">Editar Perfil</div>
                    <!-- <div class="ui error message"></div> -->
                    <!--  </div> -->
                </form>
                <div class="ui small test modal">
                    <div class="row">
                        <div class="four wide column"></div>
                        <div class="column ten wide">
                            <div class="ui center aligned segment">
                                <div>
                                    <label for="file" class="ui icon teal button">
                                        <i class="file icon"></i> Cargar Imagen</label>
                                    <input type="file" id="file" style="display:none">
                                </div>
                                <div class="cropArea">
                                    <img-crop image="myImage" area-type="square" result-image-quality="1.0" result-image="myCroppedImage"></img-crop>
                                </div>
                                <img class="ui small centered rounded bordered image" style="margin-top: 15px" ng-src="{{myCroppedImage}}" />
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="ui black cancel button">
                            Cancelar
                        </div>
                        <div class="ui yellow right labeled icon button" ng-click="guardarCambioFoto()">
                            Guardar Cambios
                            <i class="checkmark icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var app = angular.module('WingWatchApp', ['ngImgCrop']);
    app.controller('editarUsuarioCtrl', function($scope, $http) {
        $scope.myImage = '';
        $scope.myCroppedImage = '';
        $scope.miImagen = 'http://thesocietypages.org/socimages/files/2009/05/vimeo.jpg';
        var handleFileSelect = function(evt) {
            var file = evt.currentTarget.files[0];
            var reader = new FileReader();
            reader.onload = function(evt) {
                $scope.$apply(function($scope) {
                    $scope.myImage = evt.target.result;
                    console.log($scope.myCroppedImage);
                });
            };
            reader.readAsDataURL(file);
        };
        angular.element(document.querySelector('#file')).on('change', handleFileSelect);

        $scope.abrirEditarPerfil = function() {
            $('.editar.modal').modal({
                    closable: false
                })

            .modal('show');

        };
        $scope.abrir = function() {
            $('.small.test.modal')
                .modal({
                    closable: false,
                    onDeny: function() {
                        // window.alert('Wait not yet!');
                        $('.editar.modal').modal('show');
                    }
                })
                .modal('show');
        };

        $scope.guardarCambioFoto = function() {
            $scope.miImagen = $scope.myCroppedImage;
            $('.editar.modal').modal('show');
        }


        $scope.editarCuenta = function() {
            var $form = $('.form.editarPerfil'),
                allFields = $form.form('get values');
            console.log(allFields);
        };

        $('.menu .item').tab();
        $('.test.radio.checkbox').checkbox();
        
        /**
         * Setear Usuario Original
         * 
         */
        $scope.usuarioOriginal = {
            nombre: 'Kevin',
            pApellido: 'Hernández',
            sApellido: 'Rostrán'
        }
        $('.ui.form.editarPerfil')
            .form('set values', $scope.usuarioOriginal);
        //---------
        $('.ui.form.editarPerfil')
            .form({
                nombre: {
                    identifier: 'nombre',
                    rules: [{
                        type: 'empty',
                        prompt: 'Por favor, ingrese su nombre'
                    }]
                },
                pApellido: {
                    identifier: 'pApellido',
                    rules: [{
                        type: 'empty',
                        prompt: 'Por favor, ingrese su primer apellido'
                    }]
                },
                sApellido: {
                    identifier: 'sApellido',
                    rules: [{
                        type: 'empty',
                        prompt: 'Por favor, ingrese su segundo apellido'
                    }]
                },
                email: {
                    identifier: 'email',
                    rules: [{
                        type: 'empty',
                        prompt: 'Por favor, ingrese su correo electrónico'
                    }, {
                        type: 'email',
                        prompt: 'Por favor, ingrese un correo electrónico válido'
                    }]
                },
                password: {
                    identifier: 'password',
                    rules: [{
                        type: 'empty',
                        prompt: 'Por favor, ingrese su contraseña'
                    }]
                },
                tipo: {
                    identifier: 'tipo',
                    rules: [{
                        type: 'checked',
                        prompt: 'Seleccione el tipo de usuario'
                    }]
                },

                apodo: {
                    identifier: 'apodo',
                    rules: [{
                        type: 'empty',
                        prompt: 'Ingrese un apodo para su usuario'
                    }]
                },

                telefono: {
                    identifier: 'telefono',
                    rules: [{
                        type: 'integer',
                        prompt: 'Ingrese un número válido de teléfono. Debe incluir solo números'
                    }]
                },

                cedula: {
                    identifier: 'cedula',
                    rules: [{
                        type: 'integer',
                        prompt: 'Ingrese una cédula'
                    }]
                }

            }, {
                keyboardShortcuts: false,
                // inline: true,
                on: 'blur',
                transition: 'fade down'
            });

    });
    </script>
</body>

</html>
