<form class="ui form login">
    <div class="ui two column padded centered aligned grid">        
        <div class="column">
            <img class="ui small centered rounded image" src="assets/img/Wing-Watch-login.png" height="150" width="150" alt="">
    
            <div class="field">
                <div class="ui icon input">
                    <input type="text" name="apodo" placeholder="Nickname">
                    <i class="smile icon"></i>
                </div>
            </div>
            <div class="field">
                <div class="ui icon input">
                    <input type="password" name="password" placeholder="Contraseña">
                    <i class="lock icon"></i>
                </div>
            </div>
            <div class="fluid ui green button" ng-click="login()">Ingresar</div>
        </div>
    </div>
</form>
