<div class="homeDiv">
    <div class="ui vertical inverted fixed icon menu">
        <a class="item ui">
            <div class="right floated author">
                <img class="ui avatar image" ng-src="{{usuarioInfo.Foto}}" ng-click="abrirEditarPerfil()">
            </div>
            {{usuarioInfo.Nombre}}

            <div class="ui special popup">
                <div class="header">Custom Header</div>
                <div class="ui button">Click Me</div>
            </div>
        </a>
        
        <div class="item ui dropdown config"> <i class="setting big icon"></i> 
            <div class="ui left menu">
                <div class="header">Profesora</div>
                <a class="item" href="https://www.facebook.com/adriana.alvarez.9277"> Adriana Álvarez </a> 
                <div class="header">Estudiantes </div>
                <a class="item" href="https://www.facebook.com/jm95aguilar"> Jose Aguilar </a> 
                <a class="item" href="https://www.facebook.com/kevinah95"> Kevin Hernández </a> 
                <a class="item" href="https://www.facebook.com/menoc.sk27"> Julián Méndez </a> 
                <a class="item" href="https://www.facebook.com/jasson.moyaalvarez"> Jasson Moya </a> 
            </div>
            <div class="ui special popup">
                <div class="header">Custom Header</div>
                <div class="ui button">Click Me</div>
            </div>
        </div>

        <div class="item dropdown newBird" ng-click="transit()">
            <i class="random big icon"> </i>
        </div>
        
        <div class="item dropdown login" ng-click="login()">
            <i class="key big icon"> </i>
        </div>
    </div>

    <div id="TJS">
        <!-- Acá se carga el modelo -->
    </div>  

    <img class="abs" src="assets/img/Wing-Watch.png" width="200px" height ="200px">

</div>
 


