<div class="homeDiv">
    <!-- <div class="sidebarMenu">
        <div class="ui button uiside" > <p class ="iconSize"> <i class="fa fa-align-justify"></i> </p> </div>
        <div class="ui inverted black left vertical sidebar menu">
            <p class="item"> <hr> </p>
            <a class="item"> <h1 class="customText">Inicio</h1> </a>
            <a class="item"> <h1 class="customText">Todas las aves</h1> </a>
            <a class="item"> <h1 class="customText">Mis aves</h1>  </a>
            <a class="item"> <h1 class="customText">Ornitólogos</h1> </a>
            <p class="item"> <hr> </p>
            <p class="item"> <img src="assets/img/Wing-Watch-White.png" width="250px" height ="250px"> </p>
            <p class="item"> <hr> </p>
        </div>     
    </div> -->
    <sidebar-directive></sidebar-directive>
    
    <img class= "abs"src="assets/img/Wing-Watch.png" width="200px" height ="200px">

    <div class="config">
        <div class="ui floating upward vertical dropdown button configIcon">
            <div class ="iconSize2"> <i class="fa fa-cog"></i> </div>
            <div class="ui left menu">
                <div class="header">Profesora</div>
                <div class="item"><a href="https://www.facebook.com/adriana.alvarez.9277"> Adriana Álvarez </a></div>
                <div class="header">Estudiantes </div>
                <div class="item"> <a href="https://www.facebook.com/jm95aguilar"> Jose Aguilar </a> </div>
                <div class="item"> <a href="https://www.facebook.com/kevinah95"> Kevin Hernández </a> </div>
                <div class="item"> <a href="https://www.facebook.com/menoc.sk27"> Julián Méndez </a> </div>
                <div class="item"> <a href="https://www.facebook.com/jasson.moyaalvarez"> Jasson Moya </a> </div>
            </div>
        </div>
    </div>

    <div class="ui icon button randomCarrousel" ng-click="transit()">
        <i class="fa fa-random"> </i>
    </div>

    <div class="ui icon button loginIcon" ng-click="login()">
        <i class="fa fa-key"> </i>
    </div>
    
    <div id="TJS">
        <!-- Acá se carga el modelo -->
    </div>    
</div>