<!DOCTYPE html>
<html lang="es" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bower_components/semantic-ui/dist/semantic.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/semantic-ui/dist/semantic.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ngImgCrop/compile/minified/ng-img-crop.js"></script>
    <link rel="stylesheet" href="bower_components/ngImgCrop/compile/minified/ng-img-crop.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="bower_components/angular-base64-upload/dist/angular-base64-upload.min.js"></script>
    <title>Registrar Álbum</title>
</head>

<body ng-controller="myCtrl">
    <div class="ui two column centered padded grid">
        <div class="column">
            <div class="ui bottom attached segment">
                <!-- Registro -->
                <h1 class="ui header center aligned">
                    <img src="Images/Bird.png">
                    <div class="content">
                        Nuevo álbum
                    </div>
                </h1>
                <form class="ui form registro">
                    <!-- <img class="ui small centered circular bordered image" ng-src="{{miImagen}}" ng-click="abrir()" /> -->
                    <h3 class="ui dividing header">Información del ave</h3>
                    <!-- Infromación general -->
                    <h4 class="ui header">Información general</h4>
                    <div class="field">
                        <label>Nombre Común</label>
                        <div class="ui input">
                            <input type="text" name="nomComun" placeholder="Nombre común">
                        </div>
                    </div>
                    <div class="field">
                        <label>Nombre en inglés</label>
                        <div class="ui input">
                            <input type="text" name="nomIngles" placeholder="Nombre en inglés">
                        </div>
                    </div>
                    <!-- Información Taxonómica -->
                    <h4 class="ui header">Información taxonómica  <i class="help circle icon"></i></h4>
                    <div class="three fields">
                        <div class="field">
                            <label>Orden</label>
                            <div class="ui selection dropdown">
                                <input name="orden" type="hidden">
                                <div class="default text">Orden</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="Orden 1">Ejemplo de Orden 1</div>
                                    <div class="item" data-value="Orden 2">Ejemplo de Orden 2</div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Suborden</label>
                            <div class="ui selection dropdown">
                                <input name="suborden" type="hidden">
                                <div class="default text">Suborden</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="Suborden 1">Ejemplo de Suborden 1</div>
                                    <div class="item" data-value="Suborden 2">Ejemplo de Suborden 2</div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Familia</label>
                            <div class="ui selection dropdown">
                                <input name="familia" type="hidden">
                                <div class="default text">Familia</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="Familia 1">Ejemplo de Familia 1</div>
                                    <div class="item" data-value="Familia 2">Ejemplo de Familia 2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Genero</label>
                            <div class="ui selection dropdown">
                                <input name="genero" type="hidden">
                                <div class="default text">Genero</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="Genero 1">Ejemplo de Genero 1</div>
                                    <div class="item" data-value="Genero 2">Ejemplo de Genero 2</div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Especie</label>
                            <div class="ui selection dropdown">
                                <input name="especie" type="hidden">
                                <div class="default text">Especie</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="Especie 1">Ejemplo de Especie 1</div>
                                    <div class="item" data-value="Especie 2">Ejemplo de Especie 2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Información general -->
                    <h4 class="ui header">Aspecto - Comportamiento - Zona de Vida</h4>
                    <div class="three fields">
                        <div class="field">
                            <label>Tipo de Pico</label>
                            <div class="ui selection dropdown">
                                <input name="pico" type="hidden">
                                <div class="default text">Tipo de Pico</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="Tipo de Pico 1">Ejemplo de Tipo de Pico 1</div>
                                    <div class="item" data-value="Tipo de Pico 2">Ejemplo de Tipo de Pico 2</div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Tamaño</label>
                            <div class="ui selection dropdown">
                                <input name="tamanio" type="hidden">
                                <div class="default text">Tamaño</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="Tamaño 1">Ejemplo de Tamaño 1</div>
                                    <div class="item" data-value="Tamaño 2">Ejemplo de Tamaño 2</div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Cantidad de Huevos</label>
                            <div class="two fields">
                                <div class="field">
                                    <div class="circular ui icon button" ng-click="eggAmount = eggAmount + 1">
                                        <i class="toggle up icon"></i>
                                    </div>
                                    <div class="circular ui icon button" ng-click="subtractEgg()">
                                        <i class="toggle down icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <h5 class="ui header">
                                        <img src="Images/huevo.png">
                                        <div class="content">{{eggAmount}}</div>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Color</label>
                            <div class="ui styled accordion">
                                <div class="title">
                                    <i class="dropdown icon"></i>
                                    Color
                                </div>
                                <div class="content">
                                    <div class="ui form">
                                        <div class="grouped fields">
                                            <div class="field">
                                              <div class="ui checkbox">
                                                <input type="checkbox" name="color">
                                                <label>Rojo</label>
                                              </div>
                                            </div>
                                            <div class="field">
                                              <div class="ui checkbox">
                                                <input type="checkbox" name="color">
                                                <label>Amarillo</label>
                                              </div>
                                            </div>
                                            <div class="field">
                                              <div class="ui checkbox">
                                                <input type="checkbox" name="color">
                                                <label>Verde</label>
                                              </div>
                                            </div>
                                            <div class="field">
                                              <div class="ui checkbox">
                                                <input type="checkbox" name="color">
                                                <label>Morado</label>
                                              </div>
                                            </div>
                                            <div class="field">
                                              <div class="ui checkbox">
                                                <input type="checkbox" name="color">
                                                <label>Negro</label>
                                              </div>
                                            </div>
                                            <div class="field">
                                              <div class="ui checkbox">
                                                <input type="checkbox" name="color">
                                                <label>Blanco</label>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Zona geográfica o de vida</label>
                            <div class="ui icon input">
                                    <input type="text" name="geoZone" placeholder="Zona de vida">
                                    <i class="world icon"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Álbum de fotos -->
                    <h3 class="ui dividing header">Álbum de Fotos</h3>
                    <div class="ui segment">
                        <div class="ui three special cards">
                            <div class="card" ng-repeat="image in photoAlbum">
                                <div class="image">
                                    <img src="{{image}}" class="ui small bordered image">
                                    <div class="ui mini red circular icon button especial"><i class="remove icon" ng-click="eliminarImagen(image)"></i></div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="image">
                                    <img src="Images/imgPlus.jpg" class="ui small bordered image" ng-click="abrir(image)">
                                </div>  
                            </div>   
                        </div>
                    </div>

                    <div class="ui submit green button">Crear Álbum</div>
                    <div class="ui red button">Cancelar</div>
                </form>
            </div>
        </div>
        <img src="Images/Wing-Watch.png" height="209" width="206" id="logo">
    </div>
    <!-- Para las fotos -->
    <div class="ui small test modal">
        <div class="row">
            <div class="four wide column"></div>
            <div class="column ten wide">
                <div class="ui center aligned segment">
                    <div>
                        <label for="file" class="ui icon teal button">
                            <i class="file icon"></i> Cargar Imagen</label>
                        <input type="file" id="file" style="display:none">
                    </div>
                    <div class="cropArea">
                        <img-crop image="myImage" area-type="square" result-image-quality="1.0" result-image="myCroppedImage"></img-crop>
                    </div>
                    <img class="ui small centered rounded bordered image" style="margin-top: 15px" ng-src="{{myCroppedImage}}" />
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black cancel button">
                Cancelar
            </div>
            <div class="ui yellow ok right labeled icon button">
                Guardar Cambios
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <script>
    var app = angular.module('myApp', ['ngImgCrop']);
    app.controller('myCtrl', function($scope, $http) {
        $scope.myImage = '';
        $scope.myCroppedImage = '';
        $scope.eggAmount = 0;
        $scope.photoAlbum = [];
        var handleFileSelect = function(evt) {
            var file = evt.currentTarget.files[0];
            var reader = new FileReader();
            reader.onload = function(evt) {
                $scope.$apply(function($scope) {
                    $scope.myImage = evt.target.result;
                    console.log($scope.myCroppedImage);
                });
            };
            reader.readAsDataURL(file);
        };
        angular.element(document.querySelector('#file')).on('change', handleFileSelect);

        // $scope.upload = function() {
        //     $http({
        //         method: 'POST',
        //         url: 'upload.php',
        //         data: $scope.myCroppedImage,
        //         headers: {
        //             'Content-Type': undefined
        //         }
        //     });
        // };

        $scope.abrir = function() {
            $('.small.test.modal')
                .modal({
                    onDeny: function() {
                        // window.alert('Wait not yet!');
                    },
                    onApprove: function() {
                        $scope.photoAlbum.unshift($scope.myCroppedImage);
                        $scope.$apply();
                    }
                })
                .modal('show');
        };

        $scope.subtractEgg = function() {
            if($scope.eggAmount != 0) {
                $scope.eggAmount -= 1;
            }
        }

        $scope.eliminarImagen = function(pImage) {
            var deleteIndex = $scope.photoAlbum.indexOf(pImage);
            $scope.photoAlbum.splice(deleteIndex, 1);
        }
    });

    $('.test.radio.checkbox').checkbox();

    //
    $('.help.circle.icon').popup({
        position: 'right center',
        title: '¿Qué es la taxonomía?',
        content: 'Es la ciencia de la clasificación de la biología para la ordenación sistemática de animales y vegetales. Aquí debe poner cómo se clasifica científicamente el ave que quiere ingresar. Si no sabe algún campo, entonces elija Incertae Sedis.'
    });
    $('.ui.selection.dropdown').dropdown();
    $('.ui.accordion').accordion();
    $('.ui.accordion .ui.checkbox').checkbox();
    $('.ui.form.registro')
        .form({
            orden: {
                identifier: 'orden',
                rules: [{
                    type: 'empty',
                    prompt: 'Por favor, ingrese un orden'
                }]
            },
            geoZone: {
                identifier: 'geoZone',
                rules: [{
                    type: 'empty',
                    prompt: 'Por favor, ingrese una zona geográfica'
                }]
            },
            nomComun: {
                identifier: 'nomComun',
                rules: [{
                    type: 'empty',
                    prompt: 'Por favor, ingrese un nombre común'
                }]
            },
            nomIngles: {
                identifier: 'nomIngles',
                rules: [{
                    type: 'empty',
                    prompt: 'Por favor, ingrese un nombre en inglés'
                }]
            },
            suborden: {
                identifier: 'suborden',
                rules: [{
                    type: 'empty',
                    prompt: 'Por favor, ingrese un suborden'
                }]
            },
            familia: {
                identifier: 'familia',
                rules: [{
                    type: 'empty',
                    prompt: 'Por favor, ingrese una familia'
                }]
            },
            especie: {
                identifier: 'especie',
                rules: [{
                    type: 'empty',
                    prompt: 'Por favor, ingrese una especie'
                }]
            },
            genero: {
                identifier: 'genero',
                rules: [{
                    type: 'empty',
                    prompt: 'Por favor, ingrese un género'
                }]
            },
            pico: {
                identifier: 'pico',
                rules: [{
                    type: 'empty',
                    prompt: 'Por favor, seleccione un tipo de pico'
                }]
            },
            tamanio: {
                identifier: 'tamanio',
                rules: [{
                    type: 'empty',
                    prompt: 'Por favor, seleccione un tamaño'
                }]
            },
            color: {
                identifier: 'color',
                rules: [{
                    type: 'checked',
                    prompt: 'Seleccione al menos un color'
                }]
            }

        }, {
            keyboardShortcuts: false,
            inline: true,
            on: 'submit',
            transition: 'fade down'
        });
    </script>
</body>

</html>
