<title>Registrar Álbum</title>
<div id="mainWrap" class="container" ng-controller="registerBirdCtrl">
<div class="encima">
    <div class="ui circular icon button" ng-click="goHome()">
        <i class="big home icon"></i>
    </div>    
</div>

<div class="ui two column centered padded grid">
    <div class="column">
        <div class="ui bottom attached segment">
            <!-- Registro -->
            <h1 class="ui header center aligned">
                <img src="assets/img/bird.png">
                <div class="content">
                    Nuevo álbum
                </div>
            </h1>
            <form class="ui form registro">
                <!-- <img class="ui small centered circular bordered image" ng-src="{{miImagen}}" ng-click="abrir()" /> -->
                <h3 class="ui dividing header">Información del ave</h3>
                <!-- Información Taxonómica -->
                <h4 class="ui header">Información taxonómica  <i class="help circle icon"></i></h4>
                
                <div class="field" ng-init="cargarEspecies()">
                  <label>Especie</label>
                  <div class="ui dropdown selection">
                    <input type="hidden" name="especie">
                    <div class="default text">{{especieSeleccionada}}</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item" ng-repeat="especie in especies" ng-click="setearEspecie(especie.ID_ESPECIE,especie.ESPECIE,especie.NOMBRE_COMUN,especie.NOMBRE_INGLES,especie.GENERO,especie.FAMILIA,especie.SUBORDEN,especie.ORDEN,especie.CLASE)">{{especie.ESPECIE}}</div>
                    </div>
                  </div>
                </div>
                <div class="ui divided selection list">
                      <a class="item">
                        <div class="ui purple horizontal label">Nombre Común</div>
                        {{nombreComunSeleccionada}}
                      </a>
                      <a class="item">
                        <div class="ui purple horizontal label">Nombre en Inglés</div>
                        {{nombreInglesSeleccionada}}
                      </a>
                      <a class="item">
                        <div class="ui teal horizontal label">Clase</div>
                        {{claseSeleccionada}}
                      </a>
                      <a class="item">
                        <div class="ui teal horizontal label">Orden</div>
                        {{ordenSeleccionada}}
                      </a>
                      <a class="item">
                        <div class="ui teal horizontal label">Suborden</div>
                        {{subordenSeleccionada}}
                      </a>
                      <a class="item">
                        <div class="ui teal horizontal label">Familia</div>
                        {{familiaSeleccionada}}
                      </a>
                      <a class="item">
                        <div class="ui teal horizontal label">Género</div>
                        {{generoSeleccionada}}
                      </a>
                      <a class="item">
                        <div class="ui teal horizontal label">Especie</div>
                        {{especieSeleccionada}}
                      </a>
                    </div>

                <!-- Información general -->
                <h4 class="ui header">Aspecto - Comportamiento - Zona de Vida</h4>
                <div class="field" ng-init="cargarZonas()">
                  <label>Zona de Vida</label>
                  <div class="ui dropdown selection">
                    <input type="hidden" name="zona">
                    <div class="default text">{{zonaSeleccionado}}</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item" ng-repeat="zona in zonas" ng-click="setearZona(zona.ID_ZONA)">{{zona.DESCRIPCION}}</div>
                    </div>
                  </div>
                </div>
                <div class="two fields">
                    <div class="field" ng-init="cargarColores()">
                      <label>Colores</label>
                      <div class="ui dropdown selection">
                        <input type="hidden" name="color">
                        <div class="default text">{{colorSeleccionado}}</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                          <div class="item" ng-repeat="color in colores" ng-click="setearColor(color.ID_COLOR)">{{color.DESCRIPCION}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="field" ng-init="cargarPicos()">
                      <label>Tipos de Pico</label>
                      <div class="ui dropdown selection">
                        <input type="hidden" name="pico">
                        <div class="default text">{{picoSeleccionado}}</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                          <div class="item" ng-repeat="pico in picos" ng-click="setearPico(pico.ID_PICO)">{{pico.DESCRIPCION}}</div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Cantidad Menor de Huevos</label>
                        <div class="two fields">
                            <div class="field">
                                <div class="circular ui icon button" ng-click="eggAmount = eggAmount + 1">
                                    <i class="toggle up icon"></i>
                                </div>
                                <div class="circular ui icon button" ng-click="subtractEgg()">
                                    <i class="toggle down icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <h5 class="ui header">
                                    <img src="assets/img/egg.png">
                                    <div class="content">{{eggAmount}}</div>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Cantidad Mayor de Huevos</label>
                        <div class="two fields">
                            <div class="field">
                                <div class="circular ui icon button" ng-click="eggAmount2 = eggAmount2 + 1">
                                    <i class="toggle up icon"></i>
                                </div>
                                <div class="circular ui icon button" ng-click="subtractEgg2()">
                                    <i class="toggle down icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <h5 class="ui header">
                                    <img src="assets/img/egg.png">
                                    <div class="content">{{eggAmount2}}</div>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Álbum de fotos -->
                <h3 class="ui dividing header">Álbum de Fotos</h3>
                <div class="ui segment">
                    <div class="ui three special cards">
                        <div class="card" ng-repeat="image in photoAlbum">
                            <div class="image">
                                <img ng-src="{{image}}" class="ui small bordered image">
                                <div class="ui mini red circular icon button especial"><i class="remove icon" ng-click="eliminarImagen(image)"></i></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="assets/img/imgPlus.jpg" class="ui small bordered image" ng-click="abrir(image)">
                            </div>  
                        </div>   
                    </div>
                </div>

                <div class="ui green button"  ng-click="registrarAve()">Crear Álbum</div>
                <div class="ui red button">Cancelar</div>
            </form>
        </div>
    </div>
    <img src="assets/img/Wing-Watch.png" height="209" width="206" id="logo">
</div>
<!-- Para las fotos -->
<div class="ui small test modal">
    <div class="row">
        <div class="four wide column"></div>
        <div class="column ten wide">
            <div class="ui center aligned segment">
                <div>
                    <label for="file" class="ui icon teal button">
                        <i class="file icon"></i> Cargar Imagen</label>
                    <input type="file" id="file" style="display:none">
                </div>
                <div class="cropArea">
                    <img-crop image="myImage" area-type="square" result-image-quality="1.0" result-image="myCroppedImage"></img-crop>
                </div>
                <img class="ui small centered rounded bordered image" style="margin-top: 15px" ng-src="{{myCroppedImage}}" />
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black cancel button">
            Cancelar
        </div>
        <div class="ui yellow right labeled icon button" ng-click="guardarCambioFoto()">
            Guardar Cambios
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
</div>
